In [1]:
from selenium import webdriver

ModuleNotFoundError: ignored

In [ ]:
browser = webdriver.Firefox()

In [ ]:
browser.get('https://scraping-for-beginner.herokuapp.com/login_page')

In [ ]:
from selenium.webdriver.common.by import By

elem_username = browser.find_element(By.ID, value='username')

In [ ]:
elem_username.send_keys('imanishi')

In [ ]:
elelm_password = browser.find_element(By.ID, value='password')

In [ ]:
elelm_password.send_keys('kohei')

In [ ]:
elem_login_btn = browser.find_element(By.ID, value='login-btn')

In [ ]:
elem_login_btn.click()

In [ ]:
elem = browser.find_element(By.ID, value='name')
elem1 = browser.find_element(By.ID, value='company')
elem2 = browser.find_element(By.ID, value='birthday')
elem3 = browser.find_element(By.ID, value='come_from')
elem4 = browser.find_element(By.ID, value='hobby')

In [ ]:
elem.text

'今西 航平'

In [ ]:
elem1.text

'株式会社キカガク'

In [ ]:
elem2.text

'1994年7月15日'

In [ ]:
elem3.text

'千葉県'

In [ ]:
hobby = elem4.text
type(hobby)
hobby.replace('\n', '')

'バスケットボール読書ガジェット集め'

In [ ]:
elems_th = browser.find_elements(By.TAG_NAME, 'th')

In [ ]:
elems_th[1].text

'所属企業'

In [ ]:
keys = []

elems_th = browser.find_elements(By.TAG_NAME, 'th')

for elem_th in elems_th:
    key = elem_th.text
    keys.append(key)

In [ ]:
keys

['講師名', '所属企業', '生年月日', '出身', '趣味']

In [ ]:
value = []

elems_th = browser.find_elements(By.TAG_NAME, 'td')
for elem_th in elems_th:
    key = elem_th.text
    value.append(key)

In [ ]:
value

['今西 航平', '株式会社キカガク', '1994年7月15日', '千葉県', 'バスケットボール\n読書\nガジェット集め']

In [ ]:
import pandas as pd

In [ ]:
df = pd.DataFrame()

In [ ]:
df['項目'] = keys
df['値'] = value

In [ ]:
df

     項目                      値
0   講師名                  今西 航平
1  所属企業               株式会社キカガク
2  生年月日             1994年7月15日
3    出身                    千葉県
4    趣味  バスケットボール\n読書\nガジェット集め

In [ ]:
df.to_csv('講師情報.csv',index=False)